<div class="jumbotron center">
	<h1>Buy and collaborate directly with farmers from around the world</h1>
  <%= link_to "Buy Equipment", "#", class: "btn btn-primary btn-lg" %>
  <%= link_to "Sell Equipment", "#", class: "btn btn-primary btn-lg" %>
</div>

