<div class="jumbotron">
	<h1>Instantly buy, borrow or sell farm equipment!</h1>
  <%= link_to "Buy Equipment", "#", class: "btn btn-primary" %>
  <%= link_to "Sell Equipment", "#", class: "btn btn-primary" %>
</div>

